<header>
    <div class="header">
        <div class="container h-100">
            <div class="row h-100 position-relative">
                <div class="inner-header">
                    <a rel="noopener" href="https://nhatnhat.com/" class="logo">
                        <img alt="Nhất Nhất" class="lazy" width="299" height="56" data-original="assets/images/logo.png"/>
                    </a>
                    <div class="box-support">
                        <a href="#" rel="noopener" class="btn-buy">Mua ngay</a>
                        <span>Tư vấn miễn phí</span>
                        <a href="tel:0818122122" class="hotline">0818 122 122</a>
                    </div>
                </div> 
                <form class="form-order-top" id="form-fix-top">
                    <div class="form-group mb-0">
                        <input autocomplete="off" type="text" class="fullName" name="fullName" placeholder="Họ tên">
                    </div>
                    <div class="form-group mb-0">
                        <input autocomplete="off" type="text" class="phone" name="phone" placeholder="Số điện thoại">
                    </div>
                    <button class="btn-buynow">MUA NGAY</button>
                    <div class="img-product"><img class="lazy img-fluid" data-original="assets/images/img-product1.png"/></div>
                </form>
            </div>
        </div>
    </div>
    <div class="banner-header">
        <picture>
            <source media="(max-width:768px)" srcset="assets/images/banner-mb.jpg">
            <img class="lazy" alt="Nhất Nhất"data-original="assets/images/banner.jpg"/>
        </picture>
    </div>
    <div class="container-fluid">
        <div class="box-ads-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="inner-ads-header w-100 h-100">
                        <span class="btn-close" id="btn-close-ads"></span>
                        <div class="box-note">
                            <div class="text-note">
                                <div class="left">
                                    <span>Bạn được hoàn hàng,</span> nếu bao bì còn nguyên vẹn!
                                </div>
                                <div class="right">
                                    <span>FREESHIP</span>
                                    <small>toàn quốc</small>
                                </div>
                            </div>
                            <div class="price"><span>195.000</span> VND</div>
                        </div>
                        <div class="box-main-ads w-100 d-flex">
                            <div class="col-9">
                                <form class="row h-100 box-info" id=ads-form-header>
                                    <div class="col-md-8 col-7">
                                        <div class="row box-input">
                                            <div class="form-group">
                                                <input autocomplete="off" type="text" class="fullName" name="fullName" placeholder="Họ tên">
                                            </div>
                                            <div class="form-group ">
                                                <input autocomplete="off" type="text" class="phone" name="phone" placeholder="Số điện thoại">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-5">
                                        <div class="row box-button">
                                            <button name="send-info" class="btn-scroll btn-send-info">Mua ngay</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-3">
                                <div class="row h-100 box-images-ads">
                                <span class="img-product-ads">
                                     <img class="w-100 lazy" alt="Ảnh sản phẩm 1" data-original="assets/images/img-product1.png"/>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="error error-bottom-mb">* Trường bắt buộc</div>
                </div>
            </div>
        </div>
    </div>
</header>