<span class="group-dolar layer" data-mouse-parallax="0.1"></span>
<div class="fixCen parallax-wrapper">
    <h1 class="rs"><a href="#" class="logo"></a></h1>

    <div class="count_down">
        <div class="down days">
            <span class="time"></span>
            <span class="text">Days</span>
        </div>
        <div class="down hours">
            <span class="time"></span>
            <span class="text">Hours</span>
        </div>
        <div class="down minutes">
            <span class="time"></span>
            <span class="text">Minutes</span>
        </div>
        <div class="down seconds">
            <span class="time"></span>
            <span class="text">Seconds</span>
        </div>
    </div>
    <span class="ball-2 layer" data-mouse-parallax="0.3"></span>
    <span class="ball-7 layer" data-mouse-parallax="0.5"></span>
    <span class="ball-white"></span>
    <span class="ball-3 layer" data-mouse-parallax="-0.7"></span>
    <span class="ball-8 layer" data-mouse-parallax="-1"></span>


    <div class="box-social">
        <a href="#" class="icon-b"></a>
        <a href="#" class="icon-telegram"></a>
        <a href="#" class="icon-game"></a>
        <a href="#" class="icon-twister"></a>
    </div>
</div>