/*set color main*/
/*end set color main*/
.box-ads-header {
  width: 100%;
  height: 99px;
  background-color: #0A1C5F;
  border-top: 5px solid #FFC600;
  border-radius: 9px 9px 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: "SVN-Gilroy",sans-serif;
}

.box-ads-header.close-ads {
  opacity: 0;
}

.box-ads-header .inner-ads-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.box-ads-header .inner-ads-header .box-button {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 16px;
}

.box-ads-header .inner-ads-header .btn-send-info {
  width: 100%;
  height: 51px;
  max-width: 100%;
  background-color: #A70C0C;
  color: #FFC600;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "SVN-Gilroy Bold",sans-serif;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
}

.box-ads-header .inner-ads-header .btn-send-info:focus {
  outline: none;
}

.box-ads-header .inner-ads-header .btn-send-info:hover {
  background-color: #2e3191;
  border: 2px solid #DDF2F8;
  color: #ffffff;
}

.box-ads-header .inner-ads-header .btn-close {
  display: block;
  background: url("../images/btn-close.png") 0/100% no-repeat;
  width: 33px;
  height: 33px;
  position: absolute;
  right: 0;
  top: -20px;
  z-index: 9;
  cursor: pointer;
}

.box-ads-header .inner-ads-header .box-images-ads {
  position: relative;
}

.box-ads-header .inner-ads-header .box-images-ads .img-product-ads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  width: 80%;
  height: auto;
  overflow: hidden;
  bottom: 20px;
  left: 6%;
}

.box-ads-header .inner-ads-header .box-images-ads .img-product-ads img {
  width: 100%;
  height: auto;
}

.box-ads-header .inner-ads-header .box-info {
  padding-top: 20px;
}

.box-ads-header .inner-ads-header .box-info .text-freeship {
  padding: 8px 15px;
  background-color: #2E3190;
  border-radius: 100px;
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 29px;
}

.box-ads-header .inner-ads-header .box-info .box-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-ads-header .inner-ads-header .box-info .box-input .form-group {
  margin-bottom: 0;
}

.box-ads-header .inner-ads-header .box-info .box-input .form-group:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 16px;
}

.box-ads-header .inner-ads-header .box-info .box-input .form-group:nth-child(2) {
  width: 260px;
}

.box-ads-header .inner-ads-header .box-info .box-input input {
  width: 100%;
  height: 50px;
  padding: 0 12px;
  font-size: 24px;
  color: #0A1C5F;
  font-family: "SVN-Gilroy Medium";
}

.box-ads-header .inner-ads-header .box-info .box-input input::-webkit-input-placeholder {
  color: #0A1C5F;
}

.box-ads-header .inner-ads-header .box-info .box-input input:-ms-input-placeholder {
  color: #0A1C5F;
}

.box-ads-header .inner-ads-header .box-info .box-input input::-ms-input-placeholder {
  color: #0A1C5F;
}

.box-ads-header .inner-ads-header .box-info .box-input input::placeholder {
  color: #0A1C5F;
}

.box-ads-header .inner-ads-header .box-info .box-input .name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.box-ads-header .inner-ads-header .box-info .box-input .phone-number {
  width: 40%;
  margin-left: 12px;
}

.box-ads-header .inner-ads-header .box-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  position: absolute;
  top: -67px;
}

.box-ads-header .inner-ads-header .box-note .text-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  background-color: #FFC600;
  color: #0A1C5F;
  border-radius: 20px 20px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 16px;
  margin-right: 16px;
  line-height: 1;
  padding: 6px 10px 0;
  font-family: "Myriad Pro Regular";
}

.box-ads-header .inner-ads-header .box-note .text-note .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.box-ads-header .inner-ads-header .box-note .text-note .left span {
  font-family: "Myriad Pro SemiBold";
  font-size: 28px;
}

.box-ads-header .inner-ads-header .box-note .text-note .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-ads-header .inner-ads-header .box-note .text-note .right span {
  font-size: 22px;
  font-family: "Myriad Pro SemiBold";
}

.box-ads-header .inner-ads-header .box-note .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 62px;
  width: 31%;
  background-color: #0b1c5fcc;
  color: #FFC600;
  font-size: 26px;
  border-radius: 20px 20px 0 0;
  line-height: 1;
  padding: 10px;
}

.box-ads-header .inner-ads-header .box-note .price span {
  font-family: "Myriad Pro Bold";
  font-size: 48px;
  margin-right: 6px;
}

@media only screen and (max-width: 1200px) {
  .box-ads-header .inner-ads-header .box-info .box-input .name {
    width: 50%;
  }
  .box-ads-header .inner-ads-header .box-info .box-input .phone-number {
    width: 49%;
  }
  .box-ads-header .inner-ads-header .box-note .price {
    font-size: 20px;
  }
  .box-ads-header .inner-ads-header .box-note .price span {
    font-size: 36px;
  }
  .box-ads-header .inner-ads-header .box-note .text-note {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1023px) {
  .box-ads-header {
    padding: 8px 0;
    height: auto;
  }
  .box-ads-header .inner-ads-header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
  }
  .box-ads-header .inner-ads-header .btn-close {
    right: -15px;
  }
  .box-ads-header .inner-ads-header .box-info {
    margin-top: 0;
  }
  .box-ads-header .inner-ads-header .box-info .text-freeship {
    padding: 8px;
    border-radius: 25px;
    font-size: 16px;
    line-height: 1.2;
  }
  .box-ads-header .inner-ads-header .box-info .box-input input {
    width: 100% !important;
    height: 34px;
    margin: 0 auto;
    font-size: 20px;
  }
  .box-ads-header .inner-ads-header .box-info .box-input .phone-number {
    margin-left: 0;
  }
  .box-ads-header .inner-ads-header .box-info .btn-send-info {
    font-size: 20px;
    height: 40px;
  }
  .box-ads-header .inner-ads-header .box-images-ads .img-product-ads {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    bottom: 0;
    width: 90%;
    left: 5%;
  }
  .box-ads-header .inner-ads-header .box-note .price {
    font-size: 16px;
  }
  .box-ads-header .inner-ads-header .box-note .price span {
    font-size: 30px;
  }
  .box-ads-header .inner-ads-header .box-note .text-note {
    font-size: 14px;
  }
  .box-ads-header .inner-ads-header .box-note .text-note .left span {
    font-size: 20px;
  }
  .box-ads-header .inner-ads-header .box-note .text-note .right span {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .box-ads-header {
    height: auto;
    padding: 8px 0;
  }
  .box-ads-header .inner-ads-header {
    padding: 0;
  }
  .box-ads-header .inner-ads-header .btn-close {
    right: -15px;
  }
  .box-ads-header .inner-ads-header .box-info {
    padding-top: 0;
  }
  .box-ads-header .inner-ads-header .box-info .btn-send-info {
    height: 34px;
    font-size: 14px;
    margin-top: 39px;
  }
  .box-ads-header .inner-ads-header .box-info .box-input .form-group {
    width: 100% !important;
    margin-bottom: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .box-ads-header .inner-ads-header .box-info .box-input .form-group:nth-child(1) {
    margin-right: 0;
  }
  .box-ads-header .inner-ads-header .box-images-ads .img-product-ads {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    bottom: 0;
  }
  .box-ads-header .inner-ads-header .box-note {
    width: 100%;
    top: -50px;
  }
  .box-ads-header .inner-ads-header .box-note .text-note {
    width: 75%;
    padding-right: 25%;
    margin-right: 0;
  }
  .box-ads-header .inner-ads-header .box-note .price {
    position: absolute;
    background-color: transparent;
    bottom: -45px;
    right: 25%;
    font-size: 16px;
    height: 34px;
    width: 29%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 10px 0;
  }
  .box-ads-header .inner-ads-header .box-note .price span {
    font-size: 26px;
  }
}

@media only screen and (max-width: 575px) {
  .box-ads-header {
    height: auto;
    padding: 0;
    border-top: 0;
    background-color: #FFC600;
  }
  .box-ads-header .inner-ads-header .box-main-ads {
    padding: 10px 0 0;
    background-color: #0A1C5F;
    border-radius: 20px 20px 0 0;
    position: relative;
    z-index: 2;
  }
  .box-ads-header .inner-ads-header .btn-close {
    display: block;
    right: 0;
    top: -35px;
    left: auto;
    width: 25px;
    height: 25px;
  }
  .box-ads-header .inner-ads-header .box-info {
    margin-left: 0;
    margin-right: -15px;
  }
  .box-ads-header .inner-ads-header .box-info .box-input input {
    height: 28px;
    font-size: 13px;
  }
  .box-ads-header .inner-ads-header .box-info .btn-send-info {
    font-size: 14px;
    height: 28px;
    margin-top: 32px;
    padding: 0;
  }
  .box-ads-header .inner-ads-header .box-images-ads .img-product-ads {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: block;
  }
  .box-ads-header .inner-ads-header .box-note {
    top: -30px;
    left: 0;
  }
  .box-ads-header .inner-ads-header .box-note .text-note {
    width: 100%;
    height: 40px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 13px;
  }
  .box-ads-header .inner-ads-header .box-note .text-note .left span {
    font-size: 17px;
    display: block;
  }
  .box-ads-header .inner-ads-header .box-note .text-note .right span {
    font-size: 14px;
  }
  .box-ads-header .inner-ads-header .box-note .price {
    z-index: 3;
    bottom: -35px;
    font-size: 10px;
    height: 28px;
    width: 25%;
  }
  .box-ads-header .inner-ads-header .box-note .price span {
    font-size: 17px;
  }
  .box-ads-header .inner-ads-header .box-button {
    padding-left: 8px;
  }
}
/*# sourceMappingURL=box-header-ads.css.map */