/*set color main*/
$color_main1: #6CB438;
$color_main2: #ffffff;
$color_3: #2e3191;
$color_4: #A70C0C;
$color_5: #FFC600;
$color_text_1:#050B5A;
/*end set color main*/
.box-ads-header{
  width: 100%;
  height: 99px;
  background-color: #0A1C5F;
  border-top: 5px solid #FFC600;
  border-radius: 9px 9px 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  transition: all 0.5s ease;
  font-family: "SVN-Gilroy",sans-serif;
  &.close-ads{
    opacity: 0;
  }
  .inner-ads-header{
    display: flex;
    position: relative;
    .box-button{
      justify-content: flex-end;
      padding-left: 16px;
    }
    .btn-send-info{
      width: 100%;
      height: 51px;
      max-width: 100%;
      background-color: #A70C0C;
      color: #FFC600;
      font-size: 30px;
      text-transform: uppercase;
      font-family: "SVN-Gilroy Bold",sans-serif;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      float: right;
      &:focus{
        outline: none;
      }
      &:hover{
        background-color: $color_3;
        border: 2px solid #DDF2F8;
        color: $color_main2;
      }
    }
    .btn-close{
      display: block;
      background: url("../images/btn-close.png") 0/100% no-repeat;
      width: 33px;
      height: 33px;
      position: absolute;
      right: 0;
      top: -20px;
      z-index: 9;
      cursor: pointer;
    }
    .box-images-ads{
      position: relative;
      .img-product-ads{
        display: flex;
        align-items: flex-end;
        position: absolute;
        width: 80%;
        height: auto;
        overflow: hidden;
        bottom: 20px;
        left: 6%;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
    .box-info{
      padding-top: 20px;
      .text-freeship{
        padding: 8px 15px;
        background-color: #2E3190;
        border-radius: 100px;
        color: #ffffff;
        font-weight: 500;
        font-size: 24px;
        flex-direction: column;
        text-align: center;
        line-height: 29px;
      }
      .box-input{
        display: flex;
        justify-content: space-between;
        .form-group{
          margin-bottom: 0;
          &:nth-child(1){
            flex: 1;
            margin-right: 16px;
          }
          &:nth-child(2){
            width: 260px;
          }
        }
        input{
          width: 100%;
          height: 50px;
          padding: 0 12px;
          font-size: 24px;
          color: #0A1C5F;
          font-family: "SVN-Gilroy Medium";
          &::placeholder{
            color: #0A1C5F;
          }
        }
        .name{
          flex: 1;
        }
        .phone-number{
          width: 40%;
          margin-left: 12px;
        }
      }
    }
    .box-note{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 75%;
      position: absolute;
      top: -67px;
      .text-note{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        background-color: #FFC600;
        color: #0A1C5F;
        border-radius: 20px 20px 0 0;
        flex: 1;
        font-size: 16px;
        margin-right: 16px;
        line-height: 1;
        padding: 6px 10px 0;
        font-family: "Myriad Pro Regular";
        .left{
          flex: 1;
          span{
            font-family: "Myriad Pro SemiBold";
            font-size: 28px;
          }
        }
        .right{
          display: flex;
          flex-direction: column;
          align-items: center;
          span{
            font-size: 22px;
            font-family: "Myriad Pro SemiBold";
          }
        }
      }
      .price{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 62px;
        width: 31%;
        background-color: #0b1c5fcc;
        color: #FFC600;
        font-size: 26px;
        border-radius: 20px 20px 0 0;
        line-height: 1;
        padding: 10px;
        span{
          font-family: "Myriad Pro Bold";
          font-size: 48px;
          margin-right: 6px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .box-ads-header{
    .inner-ads-header{
      .box-info{
        .box-input{
          .name{
            width: 50%;
          }
          .phone-number{
            width: 49%;
          }
        }
      }
      .box-note{
        .price{
          span{
            font-size: 36px;
          }
          font-size: 20px;
        }
        .text-note{
          font-size: 16px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1023px) {
  .box-ads-header{
    padding: 8px 0;
    height: auto;
    .inner-ads-header{
      justify-content: flex-start;
      padding: 0;
      .btn-close{
        right: -15px;
      }
      .box-info{
        margin-top: 0;
        .text-freeship{
          padding: 8px;
          border-radius: 25px;
          font-size: 16px;
          line-height: 1.2;
        }
        .box-input{
          input{
            width: 100%!important;
            height: 34px;
            margin: 0 auto;
            font-size: 20px;
          }
          .phone-number{
            margin-left: 0;
          }
        }
        .btn-send-info{
          font-size: 20px;
          height: 40px;
        }
      }
      .box-images-ads{
        .img-product-ads{
          justify-content: flex-end;
          bottom:0;
          width: 90%;
          left: 5%;
        }
      }
      .box-note{
        .price{
          font-size: 16px;
          span{
            font-size: 30px;
          }
        }
        .text-note{
          font-size: 14px;
          .left{
            span{
              font-size: 20px;
            }
          }
          .right{
            span{
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .box-ads-header{
    height: auto;
    padding: 8px 0;
    .inner-ads-header{
      padding: 0;
      .btn-close{
        right: -15px;
      }
      .box-info{
        padding-top: 0;
        .btn-send-info{
          height: 34px;
          font-size: 14px;
          margin-top: 39px;
        }
        .box-input{
          .form-group{
            width: 100%!important;
            margin-bottom: 4px;
            display: flex;
            align-items: center;
            padding: 0;
            &:nth-child(1){
              margin-right: 0;
            }
          }
        }
      }
      .box-images-ads{
        .img-product-ads{
          justify-content: flex-end;
          bottom: 0;
        }
      }
      .box-note{
        width: 100%;
        top: -50px;
        .text-note{
          width: 75%;
          padding-right: 25%;
          margin-right: 0;
        }
        .price{
          position: absolute;
          background-color: transparent;
          bottom: -45px;
          right: 25%;
          font-size: 16px;
          height: 34px;
          width: 29%;
          justify-content: flex-end;
          padding: 10px 0;
          span{
            font-size: 26px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 575px) {
  .box-ads-header{
    height: auto;
    padding:0;
    border-top: 0;
    background-color: #FFC600;
    .inner-ads-header{
      .box-main-ads{
        padding: 10px 0 0;
        background-color: #0A1C5F;
        border-radius: 20px 20px 0 0;
        position: relative;
        z-index: 2;
      }
      .btn-close{
        display: block;
        right: 0;
        top: -35px;
        left: auto;
        width: 25px;
        height: 25px;
      }
      .box-info{
        margin-left: 0;
        margin-right: -15px;
        .box-input{
          input{
            height: 28px;
            font-size: 13px;
          }
        }
        .btn-send-info{
          font-size: 14px;
          height: 28px;
          margin-top: 32px;
          padding: 0;
        }
      }
      .box-images-ads{
        .img-product-ads{
          justify-content: flex-end;
          display: block;
        }
      }
      .box-note{
        top: -30px;
        left: 0;
        .text-note{
          width: 100%;
          height: 40px;
          padding-bottom: 15px;
          padding-left: 15px;
          font-size: 13px;
          .left{
            span{
              font-size: 17px;
              display: block;
            }
          }
          .right{
            span{
              font-size: 14px;
            }
          }
        }
        .price{
         z-index: 3;
          bottom: -35px;
          font-size: 10px;
          height: 28px;
          width: 25%;
          span{
            font-size: 17px;
          }
        }
      }
      .box-button{
        padding-left: 8px;
      }
    }
  }
}