footer {
  background: url("../images/bg-footer.jpg") 50% 100% no-repeat #0A1C5F;
}

footer .main-footer {
  padding: 50px 0 200px;
  font-family: "Myriad Pro Regular";
  font-weight: normal;
}

footer .main-footer .top-footer {
  color: #fff;
  font-size: 15px;
}

footer .main-footer .top-footer .logo-ft {
  display: block;
  margin: 25px auto 15px;
  width: 380px;
  height: 83px;
}

footer .main-footer .top-footer .name-ft {
  font-size: 28px;
}

footer .main-footer .top-footer .add-ft {
  font-size: 21px;
}

footer .main-footer .bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
}

footer .main-footer .bottom-footer .item-footer {
  display: inline-block;
  color: #fff;
  font-size: 15px;
}

footer .main-footer .bottom-footer .item-footer h5 {
  color: #fff;
  font-size: 24px;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

footer .main-footer .bottom-footer .item-footer a {
  color: #fff;
  font-size: 15px;
}

footer .main-footer .bottom-footer .item-footer a:hover {
  color: #6CB438;
}

footer .main-footer .bottom-footer .item-footer .list-link {
  list-style: none;
}

footer .main-footer .bottom-footer .item-footer .hotline {
  font-size: 30px;
}

footer .main-footer .bottom-footer .item-footer .list-method-pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .main-footer .bottom-footer .item-footer .list-method-pay span {
  display: block;
  width: 167px;
  max-width: 49%;
  height: auto;
  margin-bottom: 10px;
}

footer .main-footer .bottom-footer .item-footer .list-method-pay span img {
  width: 100%;
  height: auto;
}

footer .main-footer .bottom-footer .item-footer .list-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .main-footer .bottom-footer .col-footer-last {
  text-align: right;
}

@media only screen and (max-width: 1024px) {
  footer .main-footer .bottom-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 25px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  footer .main-footer {
    padding: 24px 15px 100px;
    background: none;
  }
  footer .main-footer .top-footer .logo-ft {
    width: 229px;
    height: 49px;
    margin: 15px auto 10px;
  }
  footer .main-footer .top-footer .name-ft {
    font-size: 22px;
  }
  footer .main-footer .top-footer .add-ft {
    font-size: 12px;
  }
  footer .main-footer .bottom-footer .col-footer-last {
    text-align: left;
  }
  footer .main-footer .bottom-footer .item-footer {
    margin-bottom: 15px;
  }
  footer .main-footer .bottom-footer .item-footer h5 {
    text-align: center !important;
    font-size: 18px;
  }
  footer .main-footer .bottom-footer .item-footer .hotline {
    font-size: 24px;
    line-height: 1;
  }
  footer .main-footer .bottom-footer .item-footer .list-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center !important;
  }
  footer .main-footer .bottom-footer .item-footer .list-method-pay {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .main-footer .bottom-footer .item-footer .list-method-pay span {
    width: 49%;
    height: 40px;
    margin-right: 2%;
  }
  footer .main-footer .bottom-footer .item-footer .list-method-pay span:nth-child(even) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 512px) {
  footer .main-footer .top-footer {
    font-size: 12px;
    padding: 0 15px;
  }
  footer .main-footer .top-footer .name-ft {
    font-size: 14px;
  }
  footer .main-footer .top-footer .add-ft {
    font-size: 10px;
  }
  footer .main-footer .bottom-footer .item-footer h5 {
    font-size: 13px;
  }
  footer .main-footer .bottom-footer .item-footer a {
    font-size: 12px;
  }
  footer .main-footer .bottom-footer .item-footer .list-method-pay {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .main-footer .bottom-footer .item-footer .list-method-pay span {
    height: 36px;
    margin-bottom: 5px;
  }
}
/*# sourceMappingURL=footer.css.map */