.modal{
  color: #0A1C5F;
  font-family: "Myriad Pro Condensed",sans-serif;
  .text-order{
    color: #BF1F33;
    font-family: "Myriad Pro Bold",sans-serif;
  }
  .close{
    color: #04226e;
    opacity: 1;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    margin-right: 0;
    right: 10px;
    width: 30px!important;
    height: 30px!important;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: none;
    &:hover{
      color: #ffffff!important;
      opacity: 1!important;
      background-color: #04226e;
    }
  }
  .modal-dialog{
    width: 877px;
    height: auto;
    min-height: 100%;
    display: flex;
    align-items: center;
    max-width: 96%;
  }
  .modal-content{
    border: none;
    font-size: 24px;
    border-radius: 0;
    overflow: hidden;
    background-color: #FFFFFF;
    .modal-body{
      padding: 20px 80px 0;
    }
    .hotline{
      font-family: "Myriad Pro Bold",sans-serif;
    }
    .title-1{
      font-size: 30px;
      margin-bottom: 4px;
      color: #0A1C5F;
      font-family: "Myriad Pro Bold",sans-serif;
    }
    p{
      font-weight: 300;
    }
    .content{
      margin-top: 10px;
      font-weight: 300;
    }
    .item-content{
      display: flex;
      border-top: 1px solid #0A1C5F;
      padding: 10px 0;
      .text-label{
        width: 230px;
        font-family: "Myriad Pro Bold",sans-serif;
      }
      .detail-content{
        flex: 1;
      }
    }
  }
  .modal-header{
    background-color: #FFB400;
    padding: 4px 10px;
    position: relative;
    border-radius: 0;
    border-bottom: 0;
    .modal-title{
      font-size: 36px;
      color: #0A1C5F;
      font-family: "Myriad Pro Bold",sans-serif;
    }
  }
  .modal-footer{
    padding: 0 80px 20px;
    button{
      padding: 5px 15px;
      border-radius: 20px;
      font-family: "Myriad Pro Bold",sans-serif;
    }
    .btn-continue{
      background-color: #FFB400;
      color: #0A1C5F;
      text-transform: uppercase;
      font-size: 21px;
      font-weight: bold;
      margin-bottom: 10px;
      &:hover{
        background-color: #0A1C5F;
        color: #fff!important;
      }
    }
    .btn-back{
      background-color: transparent;
      color: #04226e;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      align-items: center;
      &:before{
        display: block;
        content: "";
        background: url("../images/previous-01.png") 0/100% no-repeat;
        width: 21px;
        height: 21px;
        margin-right: 8px;
      }
    }
  }
  &.modal-notif{
    .modal-dialog{
      width: 450px;
      .modal-content{
        height: 150px;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .modal-header{
      .modal-title{
        font-size: 24px;
      }
    }
    .modal-content{
      font-size: 16px;
      .modal-body{
        padding: 20px 20px 0;
      }
      .title-1{
        font-size: 20px;
      }
      .item-content{
        flex-direction: column;
        padding: 10px 0;
        .text-label{
          width: 100%;
        }
        .detail-content{
         width: 100%;
        }
      }
    }
    .modal-footer{
      padding: 0 20px 20px;
      .btn-continue{
        font-size: 16px;
      }
    }
  }
}

//loading
$bluebell: #2E3190;
.loading{
  width: 100%;
  height: 100%;
  background-color: #000000c9;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.donut {
  width: 5rem;
  height: 5rem;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid rgba($bluebell, 0.3);
  border-top-color: $bluebell;
  animation: 1.5s spin infinite linear;

  &.multi {
    border-bottom-color: $bluebell;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}